html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#appcanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#debuglayer {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
    height:20%;
    background-color: rgba(0,128,0,0.2);
    color:white;
    margin: 0;
    padding: 4px;
}
